.swiper-container{
  width: 100% ;
  position: absolute;
  /* background-color: black; */
}


.swiper-slide {
  position: relative;
  width: 800px;
  height: 100%;
  margin: 20px auto;
  /* background-color: orange; */
  /* border: 1px solid black; */
}


/* 왼쪽 area1 */
.area1{
  width: 600px;
  height: 100px;
  background-color: #fff;
  margin: 20px auto;
  border: #d19bf5 solid 1px;
  border-radius: 20px;
  position: relative;
  box-shadow: 1px 6px 10px #e7c4ff;
}

.line-style {
  margin: 40px auto;
  width: 400px;
  height: 20px;
  border-bottom: 2px solid #dad6d8;
}

.area1 .area1-title{
  background-color: none;
  right: 200px;
  position: absolute;
  margin: 20px auto;
  font-size: 20px;
  font-family: 'Nanum Brush Script', cursive;
  font-weight: 900;
}
.area1 .area1-title .all-kill{
  text-align: center;
  position: relative;
  right: 250px;
  bottom: 0px;
  border-radius: 10px;
  color: #b5b5b5;
}

.area1 .area1-title .all-kill:hover{
  color: black;
  cursor: pointer;
}

.area1 .midle-line{
  position: relative;
  color: #b5b5b5;
  right: 250px;
}

.area1 .all-save{
  text-align: center;
  position: relative;
  right: 250px;
  bottom: 0px;
  color: #b5b5b5
}

.area1 .area1-title .all-save:hover{
  color: black;
  cursor: pointer;
}


.area1 .schedule {
  margin-top: 60px;
  display: block;
  text-align: center;
  line-height: 100px;
  position: relative;
}

.area1 .schedule .sch-lists{
  width: 500px;
  padding: 4px 10px;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  display: flex;

}

.area1 .schedule .sch-list-1 input{
  position: relative;
  left: 20px; 
  width: 60%;
  height: 30px;
  bottom: 8px;
  border-radius: 10px;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 20px;
}

.schedule .after-icon{
  width: 200px;
  height: 84px;
  border: 1px solid #dad6d8;
  /* border-radius: 20px; */
  position: relative;
  bottom: 57px;
  left: 60px;
  font-family: 'Jua', sans-serif;
  font-size: 30px;
  color: #dad6d8;
}
.schedule .after-icon:hover{
  cursor: pointer;
  /* background-color: #dad6d8;
  box-shadow: 4px 4px 6px #cccacb; */
  color: black

}





/* 오른쪽 area2 */
.area2{
  width: 700px;
  margin: 60px auto;
  height: 500px;
  /* overflow: hidden; */
}


.area2 .work-list .commonlist{
  display: flex;
  width: 100%;
  height: 100px;
  border: 1px solid #c7c4c4;
  box-sizing: border-box;
  background-color: #fff  ;
  border-radius: 20px;
  margin: 20px auto;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 20px;
  box-shadow: 4px 4px 10px #c7c4c4;
  position: relative;
}

.area2 .work-list .commonlist .list-1 {
  margin-top: 37px;
  width:500px;
  height: 20px;
  padding-left: 40px;
  position: absolute;
  justify-content: center;
}



/* .area2 .work-list .this-year-1{
  width: 100px;
  line-height: 100px;
  border-right: 1px solid #b5b5b5;
  position: absolute;
  right: 380px;
} */

.area2 .work-list .commonlist .check-icon{
  cursor: pointer;
  height: 25px;
  right: 500px;
  top: 37px;
  right: 285px;
  position: absolute;
  }

  .area2 .work-list .commonlist .check-icon:hover{
    font-size: 30px;
    transition: .3s;
    color: royalblue;
  }

.area2 .work-list .commonlist .cancel-icon {
  cursor: pointer;
  height: 25px;
  position: absolute;
  top: 37px;
  right: 60px;
}

.area2 .work-list .commonlist .cancel-icon:hover{
  font-size: 30px;
  transition: .3s;
}

.area2 .work-list .commonlist .save-icon {
  cursor: pointer;
  height: 25px;
  position: absolute;
  top: 37px;
  right: 167px;
}

.area2 .work-list .commonlist .save-icon:hover{
  font-size: 30px;
  transition: .3s;
  
}

.area2 .work-list .commonlist .modify-icon {
  cursor: pointer;
  height: 25px;
  top: 37px;
  right: 285px;
  position: absolute;
}

.area2 .work-list .commonlist .modify-icon:hover{
  font-size: 30px;
  transition: .3s;
}



.area2 .before-page {
  font-size: 50px;
  cursor: pointer;
  color: black;
  position: relative;
  right: 20px;
}

.area2 .next-page {
  font-size: 50px;
  cursor: pointer;
  color: black;
  position: relative;
  left: 450px;
}

.area2 .work-list .commonlist .list-1 .newinput{
  margin-right: 40px;
  width: 300px;
  height: 25px;
  padding: 4px 10px;
  border-radius: 10px;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 20px;
  position: relative;
  right: 10px;
  bottom: 8px;
}


.area2 .work-list .real-more{
  position: relative;
  font-size: 35px;
  text-align:center;
  justify-content: center;
  height: 45px;
  margin: auto;
  border: 1px solid #b5b5b5;
  border-radius: 50%;
  color: #b5b5b5;
  line-height: 38px;
  font-weight: 700;
  box-shadow: 1px 1px 5px #b5b5b5;
}

.area2 .work-list .real-more:hover{
  border: 1px solid #d19bf5;
  background-color: #d19bf5;
  color: #fff;
  box-shadow: 1px 1px 10px #644a75;
}

.prev-icon {
  position: relative;
  margin: 0 auto;
  right: 150px;
  font-size: 40px;
  text-decoration-line: none;
  color: black;
}

.next-icon{
  position: relative;
  margin: 0 auto;
  bottom: 12px;
  left: 600px;
  font-size: 40px;
  color: black;
}




.two{
  width: 500px;
  height: 500px;
  background-color: black;
}